carltonjoseph.com {
#carltonjoseph.com:80 {
#  tls off
  tls carltonjoseph@gmail.com
  root /mnt/volume-sfo2-01/cj/carltonathomedotcom/
}

#carltonathome.com {
#carltonathome.com:80 {
#  tls off
#  tls carltonjoseph@gmail.com
#  proxy / phpapache
#}

#carltonwin8.com {
#carltonwin8.com:80 {
#  tls off
#  tls carltonjoseph@gmail.com
#  root /mnt/volume-sfo2-01/cj/carltonwin8/
#}

appsfortracking.com {
#appsfortracking.com:80 {
#  tls off
  tls carltonjoseph@gmail.com
  proxy / apps4tracking:5000
}

apps4tracking.com {
#apps4tracking.com:80 {
#  tls off
  tls carltonjoseph@gmail.com
  proxy / apps4tracking:5000
}

tinaandcarlton.com {
#tinaandcarlton.com:80 {
#  tls off
  tls carltonjoseph@gmail.com
  root /mnt/volume-sfo2-01/cj/tinaandcarltondotcom/
  gzip {
    not /static
  }
  proxy /weddinginvite tinaandcarlton2weddinginvite:5000 {
    without /weddinginvite
  }
  proxy /honeymoon tinaandcarlton4honeymoon:5000 {
    without /honeymoon
  }
  proxy / tinaandcarlton3wedding:5000
}

