carltonjoseph.com {
  proxy / phpapache
  tls carltonjoseph@gmail.com
}

carltonathome.com {
  root /mnt/volume-sfo2-01/cj/carltonathomedotcom/
  tls carltonjoseph@gmail.com
}

carltonwin8.com {
  root /mnt/volume-sfo2-01/cj/carltonwin8/
  tls carltonjoseph@gmail.com
}

apps4tracking.com {
  root /mnt/volume-sfo2-01/cj/apps4trackingdotcom/
  tls carltonjoseph@gmail.com
}

tinaandcarlton.com/weddinginvite {
  root /mnt/volume-sfo2-01/cj/tinaandcarltondotcom/weddinginvite
  tls carltonjoseph@gmail.com
  gzip {
    not /static
  }
}

tinaandcarlton.com {
  root /mnt/volume-sfo2-01/cj/tinaandcarltondotcom/
  tls carltonjoseph@gmail.com
  gzip {
    not /static
  }
}

